/*Make table column non bold and italic*/
th:nth-child(1){
	font-weight:normal;
	font-style:italic;
}

/*Make row red,blue*/
td:nth-child(2){
	color:red;
}
td:nth-child(4){
	color:blue;
}
td[colspan]{
	color:black;
}

/*Make backgrounds green and blue*/
tr:nth-child(2){
	background-color:#66FF66;
}
tr:nth-child(3){
	background-color:#66A3E0;
}
tr:nth-child(4){
	background-color:#66FF66;
}
tr:nth-child(5){
	background-color:#66A3E0;
}

/* Change definition background to purple when hovering over term */
dt:hover+dd{
	background-color:purple;
}

/* Outer Div content */
.outer-content{
	height:60px;
	width: 75%;
	left: 0px;
	background-color: pink;
	margin:20px;
}

/* Inner Div Content */
.inner-content{
	position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 75%;
	background-color: #0099FF;
}

/* Image */
img{
	float:left;
}